backend:
  name: git-gateway
  branch: master
  accept_roles:
    - admin

publish_mode: editorial_workflow
media_folder: "src/posts/img" # Media files will be stored in the repo under images/uploads
collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "src/posts" # The path to the folder where the documents are stored
    filter:
      field: category
      value: blog
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Category", name: "category", widget: "hidden", default: "blog"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Image", name: "thumbnail", widget: "string"}
      - {label: "Tags", name: "tags", widget: list, default: ['term_1', 'term_2']}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "upcoming" # Used in routes, e.g., /admin/collections/blog
    label: "Upcoming concerts" # Used in the UI
    folder: "src/posts" # The path to the folder where the documents are stored
    filter:
      field: category
      value: upcoming
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Category", name: "category", widget: "hidden", default: "upcoming"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Image", name: "thumbnail", widget: "string"}
      - {label: "Tags", name: "tags", widget: list, default: ['term_1', 'term_2']}
      - {label: "Concert Date", name: "concertDate", widget: "datetime"}
      - {label: "Start time", name: "startTime", widget: "string", default: "20:00"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "media" # Used in routes, e.g., /admin/collections/blog
    label: "Media" # Used in the UI
    folder: "src/posts/media" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Category", name: "category", widget: "string", default: "upcoming"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "YouTube link", name: "youtubelink", widget: "string"}
      - {label: "Position", name: "position", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Image", name: "thumbnail", widget: "hidden", default: "./mediadefault.jpg"}
