.galleryView {
  background: $secondary-background-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 0;
  > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20rem;
    margin: 8px;
    > div {
      border-radius: 2px;
      padding: 8px;
      background: $base-background-color;
      height: 100%;
      width: 100%;
      box-shadow: $base-box-shadow;
      transition: $base-in-duration $base-in-timing;
      &:hover {
        box-shadow: $base-box-shadow-hover;
      }
      header {
        position: relative;
        height: 225px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        transition: $base-in-duration $base-in-timing;
        &:hover {
          filter: grayscale(100%);
        }
        div:first-of-type {
          top: 0;
          height: 100%;
          padding: 0;
          &::before {
            content: '';
            display: block;
            color: $secondary-font-color;
            opacity: 0.1;
            width: 100%;
            height: 100%;
            transition: $base-in-duration $base-in-timing;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            background: black;
            z-index: 1;
          }
          &:hover::before {
            opacity: 0.2;
          }
        }
        div {
          bottom: 0;
          position: absolute;
          background: rgba(0,0,0,0.5);
          width: 100%;
          left: 0;
          padding: 1.1rem 1rem;
        }
        h3, h5 {
          text-align: left;
          margin: 0;
          margin-right: auto;
          color: $secondary-font-color;
          font-weight: 300;
        }
      }
    }
    .postCard {
      .postCardTitle {
        div:nth-child(3) {
          margin-left: auto;
        }
        padding: 1rem;
        margin: 0;
        align-items: center;
        p,h5 {
          margin: 0;
          text-align: left;
        }
        h5:last-child {
          color: $gray;
        }
      }
      .postCardContent {
        padding-bottom: 0.5rem;
        div {
          padding: 0 1rem;
          overflow: hidden;
          width: 100%;
        }
        p {
          padding: 0.6rem 0;
          margin-bottom: 0;
          font-size: 0.7rem;
          text-align: left;
          line-height: 1rem;
        }
      }
      .showCards {
        max-height: 200px;
        transition: max-height $base-out-duration $base-out-timing;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
      }
      .hideCards {
        max-height: 0;
        overflow: hidden;
        transition: max-height $base-in-duration $base-in-timing;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
@media screen and (max-width: 768px){
  .galleryView {
    padding: 0 $mobile-padding-x $base-padding-y;
  }
}
