.hero {
  width: 100%;
  display: block;
  position: relative;
  img{
    margin: 0;
  }
  .overcast {
    background-color: #111;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: stretch;
    height: 100%;
  }
}
